---
# Let's add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}
// Change link colour and hover
a {
    color: #BBC7CC;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    color: #4989DB;
}

// Padding to take account of footer
.content {
	padding-bottom: 50px;
}

// Make footer fixed
.site-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    opacity: 0.85;
}
// Add padding to post meta 
.post-meta {
    margin: 1.75rem 0 1.50rem 0;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax",
	"padding"
;
