---
layout: default
post_class: post-template
---

<header class="main-header {% if page.cover %} " style="background-image: url({{ page.cover }}); background-repeat: repeat; {%else%}no-cover{% endif %}">
    <nav class="main-nav overlay clearfix">
            {% if page.logo %}
                <a class="blog-logo" href="{{ site.baseurl }}">
                    <img src="{{ page.logo }}" alt="Blog Logo" />
                </a>
            {% endif %}
        <a class="back-button icon-arrow-left" href="{{ site.baseurl }}">Home</a>
        <span class="pull-right">
            <a class="subscribe-button" href="{{ site.baseurl }}code">Code</a>
            <a class="subscribe-button" href="{{ site.baseurl }}food">Food</a>
            <a class="subscribe-button" href="{{ site.baseurl }}other">Other</a>
        </span>
        {% if site.subscribe %}<a class="subscribe-button icon-feed" href="{{ site.baseurl }}feed.xml">Subscribe</a>{% endif %}
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{ page.title }}</h1>
            <h2 class="page-description">
                {% if page.description %} {{ page.description }}. {% endif %}
            </h2>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>

<main class="content" role="main">
            {{content}}
</main>
